# Core - Sakila

In [1]:
import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()

In [2]:
from sqlalchemy import create_engine

In [3]:
connection = "mysql+pymysql://root:root@localhost/sakila"

In [4]:
engine = create_engine(connection)

In [5]:
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [6]:
q = """
SELECT * 
FROM country;
"""
pd.read_sql(q, engine)

     country_id               country         last_update
0             1           Afghanistan 2006-02-14 12:44:00
1             2               Algeria 2006-02-14 12:44:00
2             3        American Samoa 2006-02-14 12:44:00
3             4                Angola 2006-02-14 12:44:00
4             5              Anguilla 2006-02-14 12:44:00
..          ...                   ...                 ...
104         105               Vietnam 2006-02-14 12:44:00
105         106  Virgin Islands, U.S. 2006-02-14 12:44:00
106         107                 Yemen 2006-02-14 12:44:00
107         108            Yugoslavia 2006-02-14 12:44:00
108         109                Zambia 2006-02-14 12:44:00

[109 rows x 3 columns]

![png](sakila-db-model.png)

# 1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.

In [14]:
a = """
SELECT customer.first_name, customer.last_name, customer.email, address.city_id, address.address
FROM customer
JOIN address
ON customer.address_id = address.address_id
WHERE address.city_id= '312'
"""
pd.read_sql(a, engine)

,first_name,last_name,email,city_id,address
0,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,312,1497 Yuzhou Drive
1,CECIL,VINES,CECIL.VINES@sakilacustomer.org,312,548 Uruapan Street

# 2. What query would you run to get all comedy films? Note that the genre is called the category in this schema.  Your query should return film title, description, release year, rating, and special features

In [19]:
b = """
SELECT *
FROM film
JOIN film_category
ON film.film_id = film_category.film_id
JOIN category
ON film_category.category_id = category.category_id
WHERE category.name = 'comedy';
"""
pd.read_sql(b,engine)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,film_id,category_id,last_update,category_id,name,last_update
0,7,AIRPLANE SIERRA,A Touching Saga of a Hunter And a Butler who m...,2006,1,None,6,4.99,62,28.99,PG-13,"Trailers,Deleted Scenes",2006-02-14 13:03:42,7,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
1,28,ANTHEM LUKE,A Touching Panorama of a Waitress And a Woman ...,2006,1,None,5,4.99,91,16.99,PG-13,"Deleted Scenes,Behind the Scenes",2006-02-14 13:03:42,28,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
2,99,BRINGING HYSTERICAL,A Fateful Saga of a A Shark And a Technical Wr...,2006,1,None,7,2.99,136,14.99,PG,Trailers,2006-02-14 13:03:42,99,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
3,119,CAPER MOTIONS,A Fateful Saga of a Moose And a Car who must P...,2006,1,None,6,0.99,176,22.99,G,"Trailers,Commentaries,Deleted Scenes",2006-02-14 13:03:42,119,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
4,127,CAT CONEHEADS,A Fast-Paced Panorama of a Girl And a A Shark ...,2006,1,None,5,4.99,112,14.99,G,"Commentaries,Deleted Scenes",2006-02-14 13:03:42,127,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
5,159,CLOSER BANG,A Unbelieveable Panorama of a Frisbee And a Hu...,2006,1,None,5,4.99,58,12.99,R,"Trailers,Behind the Scenes",2006-02-14 13:03:42,159,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
6,178,CONNECTION MICROCOSMOS,A Fateful Documentary of a Crocodile And a Hus...,2006,1,None,6,0.99,115,25.99,G,"Deleted Scenes,Behind the Scenes",2006-02-14 13:03:42,178,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
7,182,CONTROL ANTHEM,A Fateful Documentary of a Robot And a Student...,2006,1,None,7,4.99,185,9.99,G,Commentaries,2006-02-14 13:03:42,182,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
8,188,CRAZY HOME,A Fanciful Panorama of a Boy And a Woman who m...,2006,1,None,7,2.99,136,24.99,PG,"Commentaries,Deleted Scenes",2006-02-14 13:03:42,188,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
9,202,DADDY PITTSBURGH,A Epic Story of a A Shark And a Student who mu...,2006,1,None,5,4.99,161,26.99,G,"Deleted Scenes,Behind the Scenes",2006-02-14 13:03:42,202,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
10,242,DOOM DANCING,A Astounding Panorama of a Car And a Mad Scien...,2006,1,None,4,0.99,68,13.99,R,"Trailers,Commentaries",2006-02-14 13:03:42,242,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
11,247,DOWNHILL ENOUGH,A Emotional Tale of a Pastry Chef And a Forens...,2006,1,None,3,0.99,47,19.99,G,"Trailers,Commentaries,Deleted Scenes",2006-02-14 13:03:42,247,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
12,265,DYING MAKER,A Intrepid Tale of a Boat And a Monkey who mus...,2006,1,None,5,4.99,168,28.99,PG,Behind the Scenes,2006-02-14 13:03:42,265,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
13,276,ELEMENT FREDDY,A Awe-Inspiring Reflection of a Waitress And a...,2006,1,None,6,4.99,115,28.99,NC-17,"Commentaries,Behind the Scenes",2006-02-14 13:03:42,276,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
14,308,FERRIS MOTHER,A Touching Display of a Frisbee And a Frisbee ...,2006,1,None,3,2.99,142,13.99,PG,"Trailers,Deleted Scenes,Behind the Scenes",2006-02-14 13:03:42,308,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
15,317,FIREBALL PHILADELPHIA,A Amazing Yarn of a Dentist And a A Shark who ...,2006,1,None,4,0.99,148,25.99,PG,"Trailers,Commentaries,Behind the Scenes",2006-02-14 13:03:42,317,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
16,324,FLINTSTONES HAPPINESS,A Fateful Story of a Husband And a Moose who m...,2006,1,None,3,4.99,148,11.99,PG-13,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-14 13:03:42,324,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
17,332,FRANKENSTEIN STRANGER,A Insightful Character Study of a Feminist And...,2006,1,None,7,0.99,159,16.99,NC-17,"Deleted Scenes,Behind the Scenes",2006-02-14 13:03:42,332,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
18,335,FREEDOM CLEOPATRA,A Emotional Reflection of a Dentist And a Mad ...,2006,1,None,5,0.99,133,23.99,PG-13,"Trailers,Commentaries,Behind the Scenes",2006-02-14 13:03:42,335,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
19,365,GOLD RIVER,A Taut Documentary of a Database Administrator...,2006,1,None,4,4.99,154,21.99,R,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-14 13:03:42,365,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
20,385,GROUNDHOG UNCUT,A Brilliant Panorama of a Astronaut And a Tech...,2006,1,None,6,4.99,139,26.99,PG-13,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-14 13:03:42,385,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
21,388,GUNFIGHT MOON,A Epic Reflection of a Pastry Chef And a Explo...,2006,1,None,5,0.99,70,16.99,NC-17,"Deleted Scenes,Behind the Scenes",2006-02-14 13:03:42,388,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
22,404,HATE HANDICAP,A Intrepid Reflection of a Mad Scientist And a...,2006,1,None,4,0.99,107,26.99,PG,"Trailers,Commentaries,Behind the Scenes",2006-02-14 13:03:42,404,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
23,410,HEAVEN FREEDOM,A Intrepid Story of a Butler And a Car who mus...,2006,1,None,7,2.99,48,19.99,PG,Commentaries,2006-02-14 13:03:42,410,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
24,413,HEDWIG ALTER,A Action-Packed Yarn of a Womanizer And a Lumb...,2006,1,None,7,2.99,169,16.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-14 13:03:42,413,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
25,443,HURRICANE AFFAIR,A Lacklusture Epistle of a Database Administra...,2006,1,None,6,2.99,49,11.99,PG,"Trailers,Commentaries,Behind the Scenes",2006-02-14 13:03:42,443,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
26,444,HUSTLER PARTY,A Emotional Reflection of a Sumo Wrestler And ...,2006,1,None,3,4.99,83,22.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-14 13:03:42,444,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
27,478,JAWS HARRY,A Thrilling Display of a Database Administrato...,2006,1,None,4,2.99,112,10.99,G,Deleted Scenes,2006-02-14 13:03:42,478,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
28,502,KNOCK WARLOCK,A Unbelieveable Story of a Teacher And a Boat ...,2006,1,None,4,2.99,71,21.99,PG-13,Trailers,2006-02-14 13:03:42,502,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
29,522,LIFE TWISTED,A Thrilling Reflection of a Teacher And a Comp...,2006,1,None,4,2.99,137,9.99,NC-17,"Commentaries,Deleted Scenes",2006-02-14 13:03:42,522,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
30,524,LION UNCUT,A Intrepid Display of a Pastry Chef And a Cat ...,2006,1,None,6,0.99,50,13.99,PG,"Trailers,Deleted Scenes",2006-02-14 13:03:42,524,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
31,529,LONELY ELEPHANT,A Intrepid Story of a Student And a Dog who mu...,2006,1,None,3,2.99,67,12.99,G,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-14 13:03:42,529,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
32,555,MALLRATS UNITED,A Thrilling Yarn of a Waitress And a Dentist w...,2006,1,None,4,0.99,133,25.99,PG,"Trailers,Commentaries,Deleted Scenes",2006-02-14 13:03:42,555,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
33,568,MEMENTO ZOOLANDER,A Touching Epistle of a Squirrel And a Explore...,2006,1,None,4,4.99,77,11.99,NC-17,Behind the Scenes,2006-02-14 13:03:42,568,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
34,604,MULAN MOON,A Emotional Saga of a Womanizer And a Pioneer ...,2006,1,None,4,0.99,160,10.99,G,Behind the Scenes,2006-02-14 13:03:42,604,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
35,613,MYSTIC TRUMAN,A Epic Yarn of a Teacher And a Hunter who must...,2006,1,None,5,0.99,92,19.99,NC-17,"Commentaries,Behind the Scenes",2006-02-14 13:03:42,613,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
36,638,OPERATION OPERATION,A Intrepid Character Study of a Man And a Fris...,2006,1,None,7,2.99,156,23.99,G,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-14 13:03:42,638,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
37,657,PARADISE SABRINA,A Intrepid Yarn of a Car And a Moose who must ...,2006,1,None,5,2.99,48,12.99,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes",2006-02-14 13:03:42,657,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
38,660,PARTY KNOCK,A Fateful Display of a Technical Writer And a ...,2006,1,None,7,2.99,107,11.99,PG,"Trailers,Behind the Scenes",2006-02-14 13:03:42,660,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
39,672,PERFECT GROOVE,A Thrilling Yarn of a Dog And a Dog who must B...,2006,1,None,7,2.99,82,17.99,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes",2006-02-14 13:03:42,672,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
40,680,PINOCCHIO SIMON,A Action-Packed Reflection of a Mad Scientist ...,2006,1,None,4,4.99,103,21.99,PG,"Commentaries,Behind the Scenes",2006-02-14 13:03:42,680,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
41,704,PURE RUNNER,A Thoughtful Documentary of a Student And a Ma...,2006,1,None,3,2.99,121,25.99,NC-17,"Trailers,Deleted Scenes",2006-02-14 13:03:42,704,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
42,754,RUSHMORE MERMAID,A Boring Story of a Woman And a Moose who must...,2006,1,None,6,2.99,150,17.99,PG-13,"Trailers,Commentaries,Deleted Scenes",2006-02-14 13:03:42,754,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
43,756,SADDLE ANTITRUST,A Stunning Epistle of a Feminist And a A Shark...,2006,1,None,7,2.99,80,10.99,PG-13,"Trailers,Deleted Scenes",2006-02-14 13:03:42,756,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
44,765,SATURN NAME,A Fateful Epistle of a Butler And a Boy who mu...,2006,1,None,7,4.99,182,18.99,R,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-14 13:03:42,765,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
45,774,SEARCHERS WAIT,A Fast-Paced Tale of a Car And a Mad Scientist...,2006,1,None,3,2.99,182,22.99,NC-17,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-14 13:03:42,774,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
46,814,SNATCH SLIPPER,A Insightful Panorama of a Woman And a Feminis...,2006,1,None,6,4.99,110,15.99,PG,Commentaries,2006-02-14 13:03:42,814,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
47,837,STAGE WORLD,A Lacklusture Panorama of a Woman And a Frisbe...,2006,1,None,4,2.99,85,19.99,PG,"Commentaries,Behind the Scenes",2006-02-14 13:03:42,837,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
48,857,STRICTLY SCARFACE,A Touching Reflection of a Crocodile And a Dog...,2006,1,None,3,2.99,144,24.99,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes",2006-02-14 13:03:42,857,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
49,858,SUBMARINE BED,A Amazing Display of a Car And a Monkey who mu...,2006,1,None,5,4.99,127,21.99,R,Trailers,2006-02-14 13:03:42,858,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
50,871,SWEDEN SHINING,A Taut Documentary of a Car And a Robot who mu...,2006,1,None,6,4.99,176,19.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-14 13:03:42,871,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
51,905,TRAINSPOTTING STRANGERS,A Fast-Paced Drama of a Pioneer And a Mad Cow ...,2006,1,None,7,4.99,132,10.99,PG-13,Trailers,2006-02-14 13:03:42,905,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
52,906,TRAMP OTHERS,A Brilliant Display of a Composer And a Cat wh...,2006,1,None,4,0.99,171,27.99,PG,Deleted Scenes,2006-02-14 13:03:42,906,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
53,932,VALLEY PACKER,A Astounding Documentary of a Astronaut And a ...,2006,1,None,3,0.99,73,21.99,G,"Commentaries,Deleted Scenes",2006-02-14 13:03:42,932,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
54,938,VELVET TERMINATOR,A Lacklusture Tale of a Pastry Chef And a Tech...,2006,1,None,3,4.99,173,14.99,R,Behind the Scenes,2006-02-14 13:03:42,938,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
55,939,VERTIGO NORTHWEST,A Unbelieveable Display of a Mad Scientist And...,2006,1,None,4,2.99,90,17.99,R,"Commentaries,Behind the Scenes",2006-02-14 13:03:42,939,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
56,978,WISDOM WORKER,A Unbelieveable Saga of a Forensic Psychologis...,2006,1,None,3,0.99,98,12.99,R,"Deleted Scenes,Behind the Scenes",2006-02-14 13:03:42,978,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27
57,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-14 13:03:42,1000,5,2006-02-14 13:07:09,5,Comedy,2006-02-14 12:46:27

# 3. What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.

In [17]:
c = """
SELECT actor.last_name, film.title, film.release_year
FROM actor
JOIN film_actor
ON actor.actor_id = film_actor.actor_id
JOIN film
ON film.film_id = film_actor.film_id
WHERE actor.last_name='Lollobrigida';
"""
pd.read_sql(c,engine)

       last_name                 title  release_year
0   LOLLOBRIGIDA          AMADEUS HOLY          2006
1   LOLLOBRIGIDA      BANGER PINOCCHIO          2006
2   LOLLOBRIGIDA      BONNIE HOLOCAUST          2006
3   LOLLOBRIGIDA           CHITTY LOCK          2006
4   LOLLOBRIGIDA  COMMANDMENTS EXPRESS          2006
5   LOLLOBRIGIDA     CONEHEADS SMOOCHY          2006
6   LOLLOBRIGIDA      DADDY PITTSBURGH          2006
7   LOLLOBRIGIDA       DAISY MENAGERIE          2006
8   LOLLOBRIGIDA         ENOUGH RAGING          2006
9   LOLLOBRIGIDA     ESCAPE METROPOLIS          2006
10  LOLLOBRIGIDA           FIRE WOLVES          2006
11  LOLLOBRIGIDA        FRONTIER CABIN          2006
12  LOLLOBRIGIDA     GOODFELLAS SALUTE          2006
13  LOLLOBRIGIDA    GRAIL FRANKENSTEIN          2006
14  LOLLOBRIGIDA        GROOVE FICTION          2006
15  LOLLOBRIGIDA          HALL CASSIDY          2006
16  LOLLOBRIGIDA          HEAVENLY GUN          2006
17  LOLLOBRIGIDA      KRAMER CHOCOLATE          2006
18  LOLLOBRIGIDA         LOVE SUICIDES          2006
19  LOLLOBRIGIDA      METAL ARMAGEDDON          2006
20  LOLLOBRIGIDA       PACIFIC AMISTAD          2006
21  LOLLOBRIGIDA      PATTON INTERVIEW          2006
22  LOLLOBRIGIDA            POCUS PULP          2006
23  LOLLOBRIGIDA   RIDGEMONT SUBMARINE          2006
24  LOLLOBRIGIDA   RINGS HEARTBREAKERS          2006
25  LOLLOBRIGIDA         SMILE EARRING          2006
26  LOLLOBRIGIDA    SOLDIERS EVOLUTION          2006
27  LOLLOBRIGIDA        STAR OPERATION          2006
28  LOLLOBRIGIDA        SUNRISE LEAGUE          2006

# 4. What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

In [20]:
d = """
SELECT actor.first_name, actor.last_name
FROM actor
JOIN film_actor
ON actor.actor_id = film_actor.actor_id
JOIN film
ON film.film_id = film_actor.film_id
WHERE film.title='Bingo Talented';
"""
pd.read_sql(d,engine)

  first_name    last_name
0     GOLDIE        BRODY
1    CAMERON         WRAY
2       CARY  MCCONAUGHEY
3        JON        CHASE
4      RENEE         BALL

# 5. What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.

In [15]:
e = """
SELECT customer_id, amount
FROM payment
WHERE amount > 2 * (SELECT
 AVG(amount) FROM payment);
"""
pd.read_sql(e,engine)

     customer_id  amount
0              1    9.99
1              2   10.99
2              3    8.99
3              3   10.99
4              3    8.99
..           ...     ...
852          595    9.99
853          595   10.99
854          597    8.99
855          599    9.99
856          599    8.99

[857 rows x 2 columns]

# 6. What query would you run to list the first and last names of the 5 customers who have the highest number(count) of payments? You can title the number of payments as num_payments.

In [23]:
f = """
SELECT customer.first_name, customer.last_name,
(SELECT COUNT(*)
 FROM payment
 WHERE payment.customer_id = customer.customer_id) AS num_payments
FROM customer
ORDER BY num_payments DESC
LIMIT 5;
"""
pd.read_sql(f,engine)

  first_name last_name  num_payments
0    ELEANOR      HUNT            46
1       KARL      SEAL            45
2     MARCIA      DEAN            42
3      CLARA      SHAW            42
4      TAMMY   SANDERS            41