# Core - Sakila

In [40]:
import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()

In [41]:
from sqlalchemy import create_engine

In [42]:
connection = "mysql+pymysql://root:root@localhost/sakila"

In [43]:
engine = create_engine(connection)

In [44]:
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [45]:
q = """SELECT * FROM country;"""
pd.read_sql(q, engine)

     country_id               country         last_update
0             1           Afghanistan 2006-02-14 12:44:00
1             2               Algeria 2006-02-14 12:44:00
2             3        American Samoa 2006-02-14 12:44:00
3             4                Angola 2006-02-14 12:44:00
4             5              Anguilla 2006-02-14 12:44:00
..          ...                   ...                 ...
104         105               Vietnam 2006-02-14 12:44:00
105         106  Virgin Islands, U.S. 2006-02-14 12:44:00
106         107                 Yemen 2006-02-14 12:44:00
107         108            Yugoslavia 2006-02-14 12:44:00
108         109                Zambia 2006-02-14 12:44:00

[109 rows x 3 columns]

![png](sakila-db-model.png)

# 1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.