# Core - Sakila

In [2]:
import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()

In [3]:
from sqlalchemy import create_engine

In [4]:
connection = "mysql+pymysql://root:root@localhost/sakila"

In [5]:
engine = create_engine(connection)

In [6]:
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [7]:
q = """
SELECT * 
FROM country;
"""
pd.read_sql(q, engine)

     country_id               country         last_update
0             1           Afghanistan 2006-02-14 12:44:00
1             2               Algeria 2006-02-14 12:44:00
2             3        American Samoa 2006-02-14 12:44:00
3             4                Angola 2006-02-14 12:44:00
4             5              Anguilla 2006-02-14 12:44:00
..          ...                   ...                 ...
104         105               Vietnam 2006-02-14 12:44:00
105         106  Virgin Islands, U.S. 2006-02-14 12:44:00
106         107                 Yemen 2006-02-14 12:44:00
107         108            Yugoslavia 2006-02-14 12:44:00
108         109                Zambia 2006-02-14 12:44:00

[109 rows x 3 columns]

![png](sakila-db-model.png)

# 1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.

In [9]:
a = """
SELECT customer.first_name, customer.last_name, customer.email, address.address, city.city_id
FROM customer, address, city
WHERE city.city_id= '312'
"""
pd.read_sql(a, engine)

,first_name,last_name,email,address,city_id
0,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,47 MySakila Drive,312
1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,47 MySakila Drive,312
2,FREDDIE,DUGGAN,FREDDIE.DUGGAN@sakilacustomer.org,47 MySakila Drive,312
3,ENRIQUE,FORSYTHE,ENRIQUE.FORSYTHE@sakilacustomer.org,47 MySakila Drive,312
4,TERRENCE,GUNDERSON,TERRENCE.GUNDERSON@sakilacustomer.org,47 MySakila Drive,312
...,...,...,...,...,...
361192,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,1325 Fukuyama Street,312
361193,BARBARA,JONES,BARBARA.JONES@sakilacustomer.org,1325 Fukuyama Street,312
361194,LINDA,WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,1325 Fukuyama Street,312
361195,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,1325 Fukuyama Street,312
361196,MARY,SMITH,MARY.SMITH@sakilacustomer.org,1325 Fukuyama Street,312

# 2. What query would you run to get all comedy films? Note that the genre is called the category in this schema.  Your query should return film title, description, release year, rating, and special features

In [9]:
b = """
SELECT category.name, film.title, film.description, film.release_year, film.rating, film.special_features
FROM category, film
WHERE category.name = 'comedy';
"""
pd.read_sql(b,engine)

,name,title,description,release_year,rating,special_features
0,Comedy,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,PG,"Deleted Scenes,Behind the Scenes"
1,Comedy,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,G,"Trailers,Deleted Scenes"
2,Comedy,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,NC-17,"Trailers,Deleted Scenes"
3,Comedy,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,G,"Commentaries,Behind the Scenes"
4,Comedy,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
...,...,...,...,...,...,...
995,Comedy,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,G,"Trailers,Behind the Scenes"
996,Comedy,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,NC-17,"Trailers,Behind the Scenes"
997,Comedy,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,NC-17,Deleted Scenes
998,Comedy,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,R,"Trailers,Deleted Scenes"
999,Comedy,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,NC-17,"Trailers,Commentaries,Behind the Scenes"

# 3. What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.

In [10]:
c = """
SELECT actor.last_name, film.title, film.release_year
FROM actor, film
WHERE actor.last_name='Lollobrigida';
"""
pd.read_sql(c,engine)

        last_name              title  release_year
0    LOLLOBRIGIDA   ACADEMY DINOSAUR          2006
1    LOLLOBRIGIDA     ACE GOLDFINGER          2006
2    LOLLOBRIGIDA   ADAPTATION HOLES          2006
3    LOLLOBRIGIDA   AFFAIR PREJUDICE          2006
4    LOLLOBRIGIDA        AFRICAN EGG          2006
..            ...                ...           ...
995  LOLLOBRIGIDA     YOUNG LANGUAGE          2006
996  LOLLOBRIGIDA         YOUTH KICK          2006
997  LOLLOBRIGIDA       ZHIVAGO CORE          2006
998  LOLLOBRIGIDA  ZOOLANDER FICTION          2006
999  LOLLOBRIGIDA          ZORRO ARK          2006

[1000 rows x 3 columns]

# 4. What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

In [11]:
d = """
SELECT actor.first_name, actor.last_name
FROM actor, film
WHERE film.title='Bingo Talented';
"""
pd.read_sql(d,engine)

    first_name     last_name
0     PENELOPE       GUINESS
1         NICK      WAHLBERG
2           ED         CHASE
3     JENNIFER         DAVIS
4       JOHNNY  LOLLOBRIGIDA
..         ...           ...
195       BELA        WALKEN
196      REESE          WEST
197       MARY        KEITEL
198      JULIA       FAWCETT
199      THORA        TEMPLE

[200 rows x 2 columns]

# 5. What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.

In [15]:
e = """
SELECT customer_id, amount
FROM payment
WHERE amount > 2 * (SELECT
 AVG(amount) FROM payment);
"""
pd.read_sql(e,engine)

     customer_id  amount
0              1    9.99
1              2   10.99
2              3    8.99
3              3   10.99
4              3    8.99
..           ...     ...
852          595    9.99
853          595   10.99
854          597    8.99
855          599    9.99
856          599    8.99

[857 rows x 2 columns]

# 6. What query would you run to list the first and last names of the 5 customers who have the highest number(count) of payments? You can title the number of payments as num_payments.

In [13]:
f = """
SELECT customer.first_name, customer.last_name
(SELECT COUNT(*)
 FROM payment
 WHERE customer.customer_id = payment.amount) AS num_payments
FROM customer
ORDER BY num_payments DESC;
"""
pd.read_sql(f,engine)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SELECT COUNT(*)\n FROM payment\n WHERE customer.customer_id = payment.amount) AS n' at line 2")
[SQL:
SELECT customer.first_name, customer.last_name
(SELECT COUNT(*)
 FROM payment
 WHERE customer.customer_id = payment.amount) AS num_payments
FROM customer
ORDER BY num_payments DESC;
]
(Background on this error at: https://sqlalche.me/e/14/f405)